#[include tools_printer.cfg]
[include c2p_config.cfg]
#[include Test_Machine/Config_TEST.cfg]
[include fluidd.cfg]
# [include calibrate_pa.cfg]
[include timelapse.cfg]
[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
[include mainsail.cfg]
[include c2p_print_trace.cfg]
[mcu]
canbus_uuid = 2f55c83f02a5


[thermistor my_thermistor_1]
temperature1 = 25
resistance1 = 100000
temperature2 = 150
resistance2 = 1791
temperature3 = 300
resistance3 = 141


[thermistor my_test_thermistor_1]
temperature1 = 25
resistance1 = 100000
temperature2 = 75
resistance2 = 14809
temperature3 = 120
resistance3 = 3869

# Motor1
[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 64
rotation_distance: 40
endstop_pin: ^PF4
position_endstop: 0
position_min: 0
position_max: 303
homing_speed: 100

# Motor2
[stepper_y]
step_pin: PE2
dir_pin:  !PE1
enable_pin: !PE4
microsteps: 64
rotation_distance: 40
endstop_pin: ^PF3
position_endstop: -30
position_min: -30
position_max: 410
homing_speed: 100

# Motor3
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 2.5
endstop_pin: ^PF2 #probe:z_virtual_endstop #^!PF5
position_endstop: 339 #297.3
position_max: 340 #298.3
position_min: 0
homing_speed: 30
second_homing_speed: 3
homing_retract_dist: 5

[tmc5160 stepper_x]
cs_pin: PC13
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
interpolate: False
run_current: 2.4
hold_current: 1
sense_resistor: 0.033

[tmc5160 stepper_y]
cs_pin: PE3
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
interpolate: False
run_current: 2.4
hold_current: 1
sense_resistor: 0.033

# Motor3
[tmc5160 stepper_z]
cs_pin: PB9
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
run_current: 1.7
hold_current: 1
sense_resistor: 0.033
#stealthchop_threshold: 999999

[bed_mesh]
speed:300
horizontal_move_z: 30
mesh_min: -40, 10 #1,44 Offset 
mesh_max: 300, 340 #1,44 Offset
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2


[probe]
pin: ^!PC15
x_probe = 100
y_probe = 100
xy_probe_speed = 100
z_probe = 30
z_probe_speed = 40
x_offset = 0
y_offset = 0
speed = 5
samples = 1
samples_result = median
sample_retract_dist = 2.0
samples_tolerance = 0.02
samples_tolerance_retries = 3
z_offset = 0

[input_shaper]
shaper_type_x:mzv
shaper_freq_x: 37.7
shaper_type_y: 2hump_ei
shaper_freq_y: 37.7

[heater_bed]
heater_pin: PF5
sensor_pin: PB1
sensor_type: my_test_thermistor_1
control: pid
pid_Kp=70.614
pid_Ki=2.121
pid_Kd=587.862
min_temp: -200
max_temp: 190

[verify_heater heater_bed]
max_error: 150
check_gain_time: 1800
hysteresis: 5
heating_gain: 0.1

# [heater_generic Env_heater]
# #gcode_id:
# #   The id to use when reporting the temperature in the M105 command.
# #   This parameter must be provided.
# heater_pin:PC12
# max_power:1
# sensor_type:my_thermistor_1
# sensor_pin:PA1
# control: pid
# smooth_time: 5
# pwm_cycle_time: 0.3
# pid_Kp: 11.573
# pid_Ki: 0.525
# pid_Kd: 63.796
# min_temp:0
# max_temp:200

# [verify_heater Env_heater]
# max_error: 100
# check_gain_time: 9999999999
# hysteresis: 80
# heating_gain: 0.01

# # Fan1
# [heater_fan Fan_env]
# pin: PB8
# shutdown_speed:1
# heater = Env_heater
# heater_temp = 45
# enable_pin: PE0
# tachometer_pin:PC14

# [temperature_sensor Env_output]
# sensor_type: my_thermistor_1
# sensor_pin: PA2
# min_temp:0
# max_temp:200

# [temperature_sensor Env_Block]
# sensor_type: my_thermistor_1
# sensor_pin: PA3
# min_temp:0
# max_temp:200

[gcode_button _EMC_ERROR]
pin: ^PD13
press_gcode:
    M112
    M118 press_gcode EMC_ERROR
release_gcode:
    M118 release_gcode EMC_ERROR

[output_pin EMC_RESET]
pin:PD12
value:0
shutdown_value:0

# [fan_generic Env_Fan]
# pin: PB8

# [output_pin Env_Relay_Power]
# pin:PE0
# value:0
# shutdown_value:1

[output_pin PS_ON]
pin:PD14
value:1
shutdown_value:1

# [output_pin POWER_ON_INDICTOR]
# pin:PA5
# value:1
# shutdown_value:1

[fan_generic partfan]
pin = PF8

[fan_generic hepafan]
pin = PF7

[fan_generic extraPartfan]
pin = PA2

[printer]
kinematics: corexy
max_velocity: 1500
max_accel: 6000
minimum_cruise_ratio: 0.5
# max_accel_to_decel:3500
max_z_velocity:50 #15
max_z_accel: 50 #50
square_corner_velocity: 5#5

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# [neopixel sb_leds]
# pin: PA9
# chain_count: 98
# color_order: GRB
# initial_RED: 0.0
# initial_GREEN: 0.0
# initial_BLUE: 0.0


# [gcode_macro RGB_FORWARD]
# description: "Set LED segments to custom RGB values"
# gcode:
#     {% set R = params.R|float(default=0.0) %}
#     {% set G = params.G|float(default=0.0) %}
#     {% set B = params.B|float(default=0.0) %}

#     {% for i in range(2, 16) %}
#         SET_LED LED=sb_leds INDEX={i} RED={R} GREEN={G} BLUE={B} TRANSMIT=0
#     {% endfor %}

#     {% for i in range(18, 27) %}
#         SET_LED LED=sb_leds INDEX={i} RED={R} GREEN={G} BLUE={B} TRANSMIT=0
#     {% endfor %}

#     {% for i in range(78, 98) %}
#         SET_LED LED=sb_leds INDEX={i} RED={R} GREEN={G} BLUE={B} TRANSMIT=1
#     {% endfor %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh meshprofile]
#*# version = 1
#*# points =
#*# 	  75.927344, 76.070117, 76.013672
#*# 	  76.330078, 76.260937, 76.192969
#*# 	  76.601562, 76.457812, 76.298047
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 280.0
#*# min_y = 20.0
#*# max_y = 280.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	8.347461, 8.645508, 8.765820, 8.678516, 8.559375
#*# 	8.490039, 8.726953, 8.765039, 8.701953, 8.533398
#*# 	8.591992, 8.751562, 8.760742, 8.686328, 8.506055
#*# 	8.505273, 8.698242, 8.706641, 8.675195, 8.453516
#*# 	8.268164, 8.575781, 8.662305, 8.631250, 8.415430
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 270.0
#*# min_y = -63.0
#*# max_y = 207.0
